include ./mixins.pug
//include images

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section(
        style = `background-image: url(${require(`images/content/section1.jpg`)})`
        )
          section.hero
            .container.hero__container
              header.header
                .logo TZ
                .header__menu
                  include templates/components/nav
                  +nav('nav--color-blue')
                .header__links
                  include templates/components/socials
                  +socials()
              .hero__content
                .user-info
                  .user-info__desc 
                    p Personal
                    p web site
                  .user-info__name 
                    p Tatiana 
                    p Zhevak
              .hero__bottom-buttons
                .scroll-down-button Scroll
                  +icon(`scroll`, 'scroll-down__icon')
          section.about
            .container.about__container
              .about__left
                .user
                  .user__avatar(
                  style = `background-image: url(${require(`images/content/avatar.jpg`)})`
                  )
                  .user__data
                    table.user__data-table
                      -
                        var data = [
                        ['Location:', 'Gold Coast'],
                        ['Age:', '24 y.o.'],
                        ['DOB:', '13 October 1995'],
                        ]
                      each row in data
                        tr.user__data-row
                          td.user__data-cell.user__data-cell-opacity #{row[0]}
                          td.user__data-cell #{row[1]}
              article.about__right
                .about__welcome.simple-text Hi, my name is
                .about__username Tatiana Zhevak
                .about__desc.simple-text
                  p and I want to transition from Test Developer to Software Developer
                .about__ps
                  span * 
                  p I have created this CV to show what I can do as a web developer (I'm constantly updating and improving this site)
          .triangles.triangles_top
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
              polygon(points="0,0 0,100 1000,100")
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
              polygon(points="0,100 1000,100 1000,0")
        .middle-section.container
          section.values
            .values__container
              .values-part
                .values-left
                  .values-left__pic(
	                  style = `background-image: url(${require(`images/content/bag.jpg`)})`
	                )
                .values-right
                  .values__title
                    h2.section-title.values__title-text.section-title--small My skills
                  article.values__desc.simple-text
                    p  
                  .values__widget
                    #skills-component
          section.works
            .works__container
              .section-title.works__section-title My web projects 
              .works__content
                #slider-component
        .bottom-section
          .triangles.triangles_bottom
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
              polygon(points="0,0 1000,0 1000,100")
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
              polygon(points="0,0 0,100 1000,0")
          <!--section.reviews.container
            .reviews__title
              .section-title Что обо мне говорят
              .reviews__slider-controls
                a(href="#").reviews__slider-control.reviews__slider-control_next
                a(href="#").reviews__slider-control.reviews__slider-control_prev
            ul.reviews__slider
              li.reviews__slider-item
                .quote
                  article.quote__text
                  .quote__author
                    .user.user--horizontal
                      .user__avatar
                        - var avatar = ['', '']
                        each item in avatar
                          img(src="${item}", alt="").user__avatar-pic
                      .user__data
                        -
                          var author = [
                            ['Ковальчук Дмитрий', 'Основатель Loftschool'],
                            ['Владимир Сабанцев', 'Преподаватель'],
                          ]
                        each row in author
                          .user__name #{row[0]}
                          .user__occ #{row[1]}
                li.reviews__slider-item -->
          section.form.container
            .form
              .section-title.contacts__form-title Contact Me
              form.form__elem
                .form__row
                  -
                    var fields = [
                      ['user', 'Your name', ''],
                      ['envelope', 'Your email', ''],
                    ]
                  each item in fields
                    label.form-block(data-title=item[1])
                      .form-block__container
                        +icon(`${item[0]}`, 'form-block__icon') 
                        .form-block__field
                          input(type="text" placeholder=item[2]).form-block__input
                .form__row.form__row--extra-margin
                  label.form-block(data-title="Your message")
                    .form-block__container.form-block__container_align_top
                      +icon('message', 'form-block__icon') 
                      .form-block__field
                        textarea(
                          placeholder=""
                        ).form-block__input
                .from__row
                  input(type="submit" value="send").gradient-btn.form__submit
        footer.footer
          .container.footer__container
            .footer__copyright
              .footer__copyright-col
                .footer__copyright-year &copy; 2019
              .footer__copyright-userinfo
                .footer__copyright-name Tatiana Zhevak
                .footer__data-text Personal Web site
            .footer__data
              include templates/components/nav
              +nav('nav--color-white')
              .footer__data-content
                .footer__data-col
                  article.footer__text
                    p 
                  .footer__data-socials
                    include templates/components/socials
                    +socials('footer__socials socials--rounded')
                .footer__data-col
                  .text-quote
                    article.text-quote__text
                      p Every great developer you know got there by solving problems they were unqualified to solve until they actually did it
                    .text-quote__author Patrick McKenzie
    include ./templates/entry.pug

                