include ./mixins.pug
//include images

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          .welcome-section__img(
          style = `background-image: url(${require(`images/content/section1.jpg`)})`
          )
            section.hero
              .container.hero__container
                header.header
                  .logo ТЖ
                  .header__menu
                    nav.nav
                      ul.nav__list
                        - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                        each item in menu
                          li.nav__item
                            a(href="").nav__link #{item}
                  .header__links
                    ul.socials
                      - var socials = ['insta', 'vk', 'github'];
                      each item in socials
                        li.socials__item
                          a(href="").socials__link
                            +icon(`${item}`, 'socials__icon')
                .hero__content
                  .user-info
                    .user-info__desc 
                      p Личный сайт 
                      p веб разработчика
                    .user-info__name 
                      p Татьяна 
                      p Жевак
                .hero__bottom-buttons
                  .scroll-down-button Скролл
                    +icon(`scroll`, 'scroll-down__icon')
            section.about
              .container.about__container
                .about__left
                  .user
                    .user__avatar(
                    style = `background-image: url(${require(`images/content/avatar.jpg`)})`
                    )
                    .user__data
                      table.user__data-table
                        -
                          var data = [
                          ['Проживаю:', 'Москва'],
                          ['Возраст:', '23 года'],
                          ['Родилась:', '13 октября 1995'],
                          ]
                        each row in data
                          tr.user__data-row
                            td.user__data-cell.user__data-cell-opacity #{row[0]}
                            td.user__data-cell #{row[1]}
                article.about__right
                  .about__welcome.simple-text Привет, меня зовут
                  .about__username Татьяна Жевак
                  .about__desc.simple-text
                    p Я занимаюсь разработкой современных сайтов и приложений. 
                    p Мне нравится делать интересные и современные проекты.
                  .about__ps
                    span * 
                    p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .triangles
              svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
                polygon(
                  points="0,0 0,100 1000,100"
                )
              svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
                polygon(
                  points="0,100 1000,100 1000,0"
                )
        section.values
          .container.values__container
            .values__title
              h2.section-title.values__title-text.section-title--small Чем я могу быть полезен вам
            .values-part
              .values-left
                .values-left__pic(
                    style = `background-image: url(${require(`images/content/bag.jpg`)})`
                    )
              .values-right
                article.values__desc.simple-text
                  p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                ul.user-skills
                  -
                    var skills = [
                      ['Front-end', ['HTML5', 'CSS3', 'Javascript', 'Jquery и Vue.js']],
                      ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
                    ]
                  each item in skills
                    li.user-skills__item.skills-row
                      .skills-row__title.section-title.section-title--small #{item[0]}
                      ul.skills-row__list
                        each skill in item[1]
                          li.skills-row__item
                            .skill
                              svg(viewBox="0 0 100 100" class="progress__shape" preserveAspectRatio="none")
                                defs
                                  linear-gradient#gradient(
                                    x1='0' y1='0' x2='0' y2="100%")
                                    stop(offset='0%', stop-color='#5500f2')
                                    stop(offset='100%', stop-color='#8f00ef')
                                circle(r="40" cx="50" cy="50").progress__circle.progress__circle-under
                                circle(r="40" cx="50" cy="50"
                              stroke="url(#gradient)"
                              transform="rotate(-180 50 50)"
                              stroke-dashoffset=`${item.progress}`).progress__circle.progress__circle-above
                                  span.progress__title #{skill}
        section.works
          .container
            .section-title Мои работы
            .works-left
              .works-slider__preview
              ul.works-slider__full-pics
                - var pics = ['1', '2', '3'];
                each item in pics
                  li.works-slider__full-pic(
                  style = `background-image: url(${require(`images/content/${item}.jpg`)})`
                  data-slide="1"
                  )
                li.works-slider__full-pic.active(
                  style = `background-image: url(${require(`images/content/4.jpg`)})`
                  data-slide="1"
                  )

            .works-right
              .works__skills
                - var skill = ['HTML', 'CSS', 'Javascript'];
                each item in skill
                  .works__skill #{item}
              .works-right__title 
                h3.section-title Сайт школы образования
              .works-right__desc.simple-text
                p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
              a(href="#").works__link
                +icon('link', 'link-icon')
                span Посмотреть сайт
        section.slider
        .bottom-section
          section.reviews
            .reviews__title
              .section-title Что обо мне говорят
              .reviews__slider-controls
            ul.reviews__slider
              li.reviews__slider-item
                .quote
                  article.quote__text
                  .quote__author
                    .user.user--horizontal
                      .user__avatar
                        - var avatar = ['', '']
                        each item in avatar
                          img(src="${item}", alt="").user__avatar-pic
                      .user__data
                        -
                          var author = [
                            ['Ковальчук Дмитрий', 'Основатель Loftschool'],
                            ['Владимир Сабанцев', 'Преподаватель'],
                          ]
                        each row in author
                          .user__name #{row[0]}
                          .user__occ #{row[1]}
                li.reviews__slider-item
          section.form
        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year 2019
                .copyright__username Татьяна Жевак
                .copyright__desc Личный сайт веб-разработчика
            .footer__data
              .footer__menu
                nav.nav.nav--color-white
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
              .footer__data-columns
                .footer__data-col
                  article.footer__text
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .footer__socials.socials.socials--rounded
                    each item in socials
                     li.socials__item
                        a(href="").socials__link
                          +icon(`${item}`, 'socials__icon')
                .footer__data-col
                  article.footer__text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    p Martin Golding